@import "tailwindcss";
@import "../styles/variables.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Theme variables */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-general-sans: var(--font-general-sans);
  --font-spectral: var(--font-spectral);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans);
}

.font-primary {
  font-family: var(--font-general-sans);
}

.font-secondary {
  font-family: var(--font-spectral);
}